<!-- Skeleton loading -->
<div *ngIf="isLoading" class="space-y-4">
  <div *ngFor="let i of [1,2,3]" class="bg-white p-10 rounded-lg animate-pulse">
    <div class="flex items-center space-x-4 mb-4">
      <div class="w-12 h-12 bg-gray-200 rounded-full"></div>
      <div class="flex-1">
        <div class="h-4 bg-gray-200 rounded w-1/4"></div>
        <div class="h-3 bg-gray-200 rounded w-1/6 mt-2"></div>
      </div>
    </div>
    <div class="space-y-3">
      <div class="h-4 bg-gray-200 rounded w-3/4"></div>
      <div class="h-4 bg-gray-200 rounded w-1/2"></div>
    </div>
    <div class="mt-4 h-64 bg-gray-200 rounded"></div>
  </div>
</div>

<!-- Actual content -->
<div *ngIf="!isLoading">
  <div *ngFor="let forum of recruiterForums" class="bg-white p-10 rounded-lg hover:shadow-md border-b border-gray-500">
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center space-x-2">
        <img [src]="forum.user.profile_image" alt="User Avatar" class="w-8 h-8 rounded-full">
        <div>
          <p class="text-gray-800 font-semibold hover:cursor-pointer" (click)="Visit(forum.user_id)">{{ forum.user.fullname | titlecase }}</p>
          <span [ngClass]="{
            'bg-custom-teal text-white p-1 rounded-xl':  forum.user.role === 'intern',
            'bg-custom-purple text-purple-800 p-1 rounded-lg':  forum.user.role === 'recruiter'
        }">
{{ forum.user.role === 'intern' ? 'Intern' : 'Recruiter' }}
</span>
          <p class="text-gray-500 text-sm">Posted 2 hours ago</p>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <p class="text-gray-800 text-xl font-bold hover:cursor-pointer" (click)="Visit(forum.user_id)">{{ forum.title | titlecase }}</p>
      <p class="text-gray-800">{{ forum.desc }}</p>
    </div>
    <div class="mb-4">
      <div class="flex justify-center">
        <p-galleria class="w-full rounded-md [&_.p-galleria-item]:h-[600px]"
          [value]="forum.galleryImages"
          [numVisible]="5"
          [circular]="true"
          [showItemNavigators]="true"
          [showThumbnails]="false"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'width': '100%', 'height': '600px', 'margin': '0 auto', 'background-color': 'rgb(18, 18, 18)' }"
          *ngIf="forum.images?.length > 0">
          <ng-template #item let-item>
            <img [src]="item.itemImageSrc"
              class="max-w-full max-h-full object-contain cursor-pointer"
              (click)="showFullImage(item.itemImageSrc)" />
          </ng-template>
        </p-galleria>
      </div>
    </div>

    <!-- Like and Comment Section -->
    <div class="flex items-center justify-between text-gray-500">
      <div class="flex items-center space-x-2">
        <button (click)="likePost(forum.id, forum)" class="flex justify-center items-center gap-2 px-2 hover:bg-gray-50 rounded-full p-1">
          <svg class="w-5 h-5 fill-current" xmlns="https://i.pinimg.com/474x/52/87/55/52875518c52bc42ccf3ece51a0e9c1f7.jpg" viewBox="0 0 24 24">
            <path d="M12 21.35l-1.45-1.32C6.11 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-4.11 6.86-8.55 11.54L12 21.35z" />
          </svg>
          <span>{{ forum.likes_count }}</span>
        </button>
      </div>
      <button (click)="commentPost(forum.id, forum)" class="flex justify-center items-center gap-2 px-2 hover:bg-gray-50 rounded-full p-1">
        <svg width="22px" height="22px" viewBox="0 0 24 24" class="w-5 h-5 fill-current" xmlns="https://i.pinimg.com/474x/52/87/55/52875518c52bc42ccf3ece51a0e9c1f7.jpg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 13.5997 2.37562 15.1116 3.04346 16.4525C3.22094 16.8088 3.28001 17.2161 3.17712 17.6006L2.58151 19.8267C2.32295 20.793 3.20701 21.677 4.17335 21.4185L6.39939 20.8229C6.78393 20.72 7.19121 20.7791 7.54753 20.9565C8.88837 21.6244 10.4003 22 12 22ZM8 13.25C7.58579 13.25 7.25 13.5858 7.25 14C7.25 14.4142 7.58579 14.75 8 14.75H13.5C13.9142 14.75 14.25 14.4142 14.25 14C14.25 13.5858 13.9142 13.25 13.5 13.25H8ZM7.25 10.5C7.25 10.0858 7.58579 9.75 8 9.75H16C16.4142 9.75 16.75 10.0858 16.75 10.5C16.75 10.9142 16.4142 11.25 16 11.25H8C7.58579 11.25 7.25 10.9142 7.25 10.5Z"></path>
          </g>
        </svg>
        <span>{{ forum.comments_count }}</span>
      </button>
    </div>


  </div>
</div>
