<div class="bg-gray-800 text-white h-screen w-72 flex flex-col items-center py-4 overflow-y-auto">
  <!-- Profile Card -->
  <div class="w-full px-4">
    <div class="relative">
      <!-- Cover Image -->
      <img
        class="w-full h-32 object-cover rounded-xl"
        [src]="userRoleData.cover_image"
        alt="Cover Photo"
      />
      <div class="absolute -bottom-12 left-1/2 transform -translate-x-1/2">
        <!-- Profile Image -->
        <img
          class="rounded-full border-4 border-gray-800 object-cover"
          [src]="userData.profile_image"
          width="96"
          height="96"
          alt="Profile Picture"
        />
      </div>
    </div>

    <div class="profile-info mt-16 text-center">
      <h2 class="text-lg font-bold truncate">{{ userData.fullname || 'John Doe' | titlecase }}</h2>
      <div class="mt-2">
        <h2
          class="p-1 text-xs rounded-xl truncate"
          [ngClass]="{
            'bg-teal-500 text-white': userData?.role === 'intern',
            'bg-purple-500 text-purple-800': userData?.role === 'recruiter'
          }"
        >
          {{ userData?.role || 'intern' | titlecase }}
        </h2>
        <p class="text-sm mt-2 flex items-center justify-center gap-1 truncate">
          <i class="pi pi-map-marker"></i> {{ userData.address || 'No Address' }}
        </p>
        <p class="text-sm mt-2 flex items-center justify-center gap-1 truncate">
          <i class="pi pi-envelope"></i> {{ userData.email || 'email@example.com' }}
        </p>
        <p class="text-sm mt-2 flex items-center justify-center gap-1 truncate">
          <i class="pi pi-phone"></i> {{ userData.phone_number || '+123456789' }}
        </p>
      </div>
    </div>
  </div>

  <app-right-sidebar></app-right-sidebar>
  <div (click)="Logout()" class="mt-2 flex justify-start">
    <p class="text-sm mt-2 flex items-start justify-start gap-1 truncate hover:underline ">
      <i class="pi pi-sign-out"></i> Logout
    </p>
  </div>
</div>
