
  <p-menu [model]="items" class="flex justify-center text-white bg-white h-auto" styleClass="w-full h-screen bg-white  ">
    <ng-template #start >
        <button pRipple class="relative overflow-hidden w-full border-0 bg-transparent flex items-end p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
            <span class="inline-flex flex-col" >
                <span class="font-bold">Amy Elsner</span>
                <span class="text-sm">Admin</span>
            </span>
        </button>
    </ng-template>
      <ng-template #end class="border-t-2">
          <span class="inline-flex items-center gap-1 px-2 py-2 ">
            <!-- <img src="skill-high-resolution-logo-blue.png" alt="Logo" width="70px" height="auto"> -->
              <!-- <span class="text-xl font-semibold">Skill<span class="text-primary">Link</span></span> -->
              <i class="pi pi-sign-out"></i>
            <p>Logout</p>
          </span>
      </ng-template>
      <ng-template class="line" #submenuheader let-item>
          <span  class="text-primary font-bold wew">{{ item.label }}</span>
      </ng-template>

      <ng-template #item let-item>
          <a  class="flex items-center p-menu-item-link">
              <span [class]="item.icon"></span>
              <span class="ml-2 text-white">{{ item.label }}</span>
              <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
              <span *ngIf="item.shortcut" class="ml-auto border border-surface  bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
          </a>
      </ng-template>
    <!-- </div> -->
  </p-menu>

